@import '~bulma/sass/utilities/initial-variables';


$headerColor: #574d4c;
$backgroundColor: #7C96A6;
$poolIDBgColor: #7EA3A3;

$headerHeight: 150px;
$heroHeight: 320px;
$borderRadius: 2px;
$pageMargin: 64px;

$phone: 500px;
